@model Assignment3.Models.ImandCap

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Image and Caption</h4>
<hr />
@ViewBag.Mgs
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="pic" class="control-label"></label>
                <input type="file" asp-for="pic" class="form-control" />
                <span asp-validation-for="pic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cap" class="control-label"></label>
                <input asp-for="cap" class="form-control" />
                <span asp-validation-for="cap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
